<%
function layoutDiv() {
  const title = page.breadcrumbtitle || page.title
  // 普通页面就显示当前页面
  return `
  <a class="cap breadcrumb" href="${url_for(config.root)}">作者</a>
  <span class="sep"></span>
  <a class="cap breadcrumb" href="${url_for(page.path)}">${title}</a>
  `
}
%>
<%- layoutDiv() %>